<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="py-4 h2"><span>🏛️ </span>Liste des musées</h1>
    </div>
    <div class="row">
      <app-single-museum class="col-4"
      *ngFor="let museum of museums"
      [name]="museum.name"
      [opening]="museum.opening"
      [zip]="museum.zip"
      [city]="museum.city"
      [telephone]="museum.telephone"
      [reference]="museum.reference"
      [adress]="museum.adress"
      [website]="museum.website"
       > </app-single-museum>
    </div>
  </div>
</div>
